#1. What are data structures, and why are they important?

- Data structures are ways to organize and store data efficiently. They are important because they optimize data access, improve processing speed, and help manage large amounts of data effectively.

#2. Difference between mutable and immutable data types with examples:

- Mutable: Can be changed after creation (e.g., lists: list1 = [1, 2, 3] â†’ list1.append(4)).

- Immutable: Cannot be changed after creation (e.g., tuples: tuple1 = (1, 2, 3)).

#3. Main differences between lists and tuples in Python:

- Lists are mutable, while tuples are immutable.

- Lists have more methods and are slightly slower than tuples.

#4. How dictionaries store data:

- Dictionaries use key-value pairs and a hash table for quick lookups.

#5. Why use a set instead of a list in Python?

- Sets remove duplicates and allow fast membership checks (O(1) complexity).

#6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters, whereas a list is mutable and can store different data types.

#7. How do tuples ensure data integrity in Python?

- Tuples are immutable, preventing unintended modifications.

#8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table stores key-value pairs using a hash function, which is how Python dictionaries work internally.

#9. Can lists contain different data types in Python?

- Yes, a list can store mixed data types (e.g., [1, "hello", 3.14]).

#10. Why are strings immutable in Python?

- Strings are immutable to enhance security, performance, and memory optimization.

#11. Advantages of dictionaries over lists:

- Faster lookups (O(1) for keys) compared to lists (O(n) search time).

#12. Scenario where using a tuple is preferable over a list:

- When storing fixed configurations like database credentials.

#13. How do sets handle duplicate values?

- Sets automatically remove duplicates.

#14. How does the in keyword work for lists and dictionaries?

- For lists, it checks elements (O(n) complexity), while for dictionaries, it checks keys (O(1) complexity).

#15. Can you modify tuple elements? Why or why not?

- No, because tuples are immutable.

#16. What is a nested dictionary? Example:

In [ ]:
student = {"name": "John", "details": {"age": 25, "city": "NY"}}
type(student)

dict

#17. Time complexity of accessing elements in a dictionary:

- O(1) on average.

#18. Situations where lists are preferred over dictionaries:

- When order and indexing are important.

#19. Why are dictionaries unordered?

- They use hash functions, which do not maintain order.

#20. Difference between lists and dictionaries in data retrieval:

- Lists use indexing, while dictionaries use keys.

##  Practical Questions

#1. Write a code to create a string with your name and print it.

In [ ]:
name = "YourName"
print(name)

YourName

#2. Write a code to find the length of the string "Hello World".

In [ ]:
print(len("Hello World"))

11

#3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
print("Python Programming"[:3])

Pyt

#4. Write a code to convert the string "hello" to uppercase.

In [ ]:
print("hello".upper())

HELLO

#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
print("I like apple".replace("apple", "orange"))

I like orange

#6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list = [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list =  ['a', 'b', 'c', 'd']
list[1]

'b'

#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list = [10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tpe = (100, 200, 300)
print(tpe)
type(tpe)

(100, 200, 300)

tuple

#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tup = (10, 20, 5, 15)
min(tup)

5

#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tup = ('dog', 'cat', 'rabbit')
tup.index("cat")

1

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [28]:
tup = ("apple", "banana", "cherry")
print("kiwi" in tup)

False

#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [29]:
s = {'a','b','c'}
type(s)

set

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [30]:
s = {1, 2, 3, 4, 5}
print(s) #set with value
s.clear()
s #empty set

{1, 2, 3, 4, 5}

set()

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [31]:
s =  {1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [32]:
s1 =  {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [34]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1 & s2

{2, 3}

#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [37]:
person = {"name": "Hariom", "age": 24, "city": "Surat"}
print(person)

{'name': 'Hariom', 'age': 24, 'city': 'Surat'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [39]:
person = {'name':'john','age':25}
person['country']="USA"
person

{'name': 'john', 'age': 25, 'country': 'USA'}

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [40]:
person = {'name': 'Alice', 'age': 30}
person['name']

'Alice'

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [42]:
p = {'name': 'Bob', 'age': 22, 'city': 'New York'}
p.pop('age')
p

{'name': 'Bob', 'city': 'New York'}

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [44]:
p = {'name': 'Alice', 'city': 'Paris'}
"city" in p

True

#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [45]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {"a": 7, "b": 8}
print(lst, tup, dic)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [46]:
import random
lst = sorted(random.sample(range(1, 101), 5))
print(lst)

[11, 19, 26, 64, 82]

#28. Write a code to create a list with strings and print the element at the third index.

In [49]:
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

#29. Write a code to combine two dictionaries into one and print the result.

In [50]:
dic1 = {"a": 1, "b": 2}
dic2 = {"c": 3, "d": 4}
dic1.update(dic2)
print(dic1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#30. Write a code to convert a list of strings into a set.

In [54]:
lst = ["apple", "banana", "apple", "cherry"]
print(set(lst))

{'cherry', 'banana', 'apple'}